@import "tailwindcss";
@import "tw-animate-css";
body {
  background-image: url("./assets/rect.svg");
  background-color: white;
  background-repeat: repeat;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
